.reg-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__wrapper {
        height: fit-content;
        width: 90%;
        margin: auto auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__field {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__label {
        font-size: 20px;
        color: #21262E;
        font-weight: 700;
    }
    &__input {
        margin-top: 5px;
        width: 100%;
        height: 50px;
        border-radius: 12px;
        border: 1px #7C8591 solid;
        background-color: #ffff;
        color: #21262E;
        font-size: 17px;
        padding: 10px 15px;
        outline: none;
        &.input-error {
            border-color:#ff4d4f;
        }
        &::placeholder {
            font-size: 17px;
        }
        input {
            &::placeholder {
                font-size: 17px;
            }
        }
        &:focus {
            border-color: #4096ff; /* Цвет границы при фокусе */
        }
        &-sex {
            display: block;
            margin-top: 5px;
            width: 250px;
            height: 48px;   
            .ant-segmented-group {
                height: 100%;
                .ant-segmented-item {
                    width: 50%;
                }
                .ant-segmented-item-label {
                    min-height: 45px;
                    line-height: 45px;
                    font-size: 17px;
                }
            }         
            
        }
    }
}

.ant-picker-dropdown {
    display: none;
}