.matches {
    width: 100%;
    height: auto;
    padding: 0 15px 15px 15px;
    &__wrapper {
        overflow-x: auto;
        height: fit-content;
        overflow: -moz-scrollbars-none; /* Для Firefox */
        scrollbar-width: none; /* Для Firefox */
    }
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        height: fit-content;
    }
    &__subtitle {
        font-size: 22px;
        font-weight: 700;
    }
    &__item {
        cursor: pointer;
        text-decoration: none;
        color: black;
        img {
            width: 90px;
            height: 100px;
            object-fit: cover;
            box-shadow: 0px 2px 3px 2px rgb(0, 0, 0, 0.1);
            display: block;
            border-radius: 5px;
            margin: 5px 5px;
        }
        &-name {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            width: 85px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 auto;
        }
    }

}

.mutual-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #ff4081;
    background: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3.1s ease-in-out;
    z-index: 1000
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
